/* COLOUR REFERENCES
	Primary:	#01B5AF
	Second:		#4A4A4A
	Third:

*/

/*
	Font-Weights:	400, 500, 700
*/

/** GENERAL **/
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/** GLOBALS **/
.btn-primary {
	border-radius: 0%;
	color: white;
	background-color: #01B5AF;
	border: none;
	padding: 15px 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 26px;
	font-weight: 500;
	transition: background-color .3s;
	-webkit-transition: background-color .3s;
}

.btn-primary:hover {
	background-color: #4A4A4A;
	transition: background-color .3s;
	-webkit-transition: background-color .3s;
}


/** HEADER **/
#page-header {
	height: 150px;
	background-color: #01B5AF;
	color: white;
	font-size: 20px;
	font-weight: 500;
}

#page-header a {
	color: white;
	font-weight: 700;
	border-bottom: 2px dotted white;
	text-decoration: none;
	transition: border-bottom .3s, color .3s;
	-webkit-transition: border-bottom .3s, color .3s;
}

#page-header a:hover {
	color:  #4A4A4A;
	border-bottom: 2px solid #4A4A4A;
	transition: border-bottom .3s, color .3s;
	-webkit-transition: border-bottom .3s, color .3s;
}

#page-header .page-header-img {
	height: 150px;
	width: auto;
	padding: 10px 10px;
}

#page-header .page-header-wrapper {
	display: table;
	height: 150px;
}

#page-header .page-header-section {
	display: table-cell;
	vertical-align: middle;
}

#page-header .social-links a{
	text-decoration: none;
	border-bottom: none;
	font-size: 40px;
	padding: 5px 5px;
}

/** NAVBAR **/
.navbar {
	height: 75px;
	border-radius: 0%;
	background-color: #4A4A4A;
	border: none;
	-webkit-box-shadow: 0px 6px 32px -5px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 6px 32px -5px rgba(0,0,0,0.55);
	box-shadow: 0px 6px 32px -5px rgba(0,0,0,0.55);
}

.navbar-inverse {
	height: 75px;
}

.navbar-inverse .navbar-nav>li {
	height: 75px;
}

.navbar-inverse .navbar-nav>li>a {
	font-size: 22px;
	font-weight: 500;
	text-transform: capitalize;
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.navbar .navbar-brand img {
	height: 50px;
	width: auto;
	margin: 5px 0px;
}

/** HERO **/
#hero {
	min-height: 800px;
	position:inherit;
	background: linear-gradient(
										 rgba(255,255,255, .6),
										 rgba(255,255,255, .6)),
										 url("../img/hero-bg.jpg");
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
	overflow: visible;
	margin-top: -25px;
}

#hero .hero-wrapper {
	height: 800px;
	width: 100%;
	display: table;
	text-align: center;
}

#hero .hero-content {
	display: table-cell;
	vertical-align: middle;
}

#hero .hero-content h1{
	color: #4A4A4A;
	font-size: 72px;
	font-weight: 700;
}

#hero .hero-content h2{
	color: #4A4A4A;
	font-size: 56px;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 100px;
}
