/* COLOUR REFERENCES
	
	PRIMARY-COLOR:		#dec48b
	SECONDARY-COLOR:	#2D2D2D
	
	FONT-WEIGHTS: Lato:	400
						600
						700
	
	
*/

/* === GENERAL === */

body {
	font-family: Times New Roman, Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background: url('../img/background-white.jpg');
}


/* === GLOBAL === */

h1, h2, h3, h4 {
	font-weight: 700;
	text-transform: uppercase;
	color: #2D2D2D;
}

h1 {
	font-size: 32px;
}

p {
	font-weight: 400;
	font-size: 16px;
	color: #6a6a6a;
}

.divider-primary {
	height: 4px;
	width: 150px;
	background-color: #f5f5dc;
	margin: 10px auto;
}

.divider-secondary {
	height: 4px;
	width: 150px;
	background-color: #6a6a6a;
	margin: 10px auto;
}

.underline {
  position: relative;
  color: #2D2D2D;
}
.underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #2D2D2D;
  content: "";
  transition: width 0.2s;
}
.underline:hover {
  color: #2D2D2D;
}
.underline:hover:after {
  width: 100%;
}


/* === NAVBAR === */
.navbar {
	background-color: #dec48b;
	border: none;
	height: 80px;
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
}

.navbar .nav {
	list-style: none;
}

.navbar .navbar-nav li {
   
}

.navbar .navbar-nav > li > a {
	margin: 25px 10px;
	padding: 5px 0;
	color: #2D2D2D;
	font-size: 20px;
	text-align: center;
}

.navbar .navbar-nav > li > a:hover {
	color: #2D2D2D;
}

.navbar .navbar-nav > .dropdown > a:focus {
	color: #2D2D2D;
	background: none;
}

.navbar .navbar-nav > .dropdown > a:active {
	color: #2D2D2D;
	background: none;
}


.navbar .navbar-nav > li > a:focus {
	color: #2D2D2D;
}

.navbar .navbar-nav .dropdown:hover {
	background: none;
}

.navbar .navbar-nav .dropdown .dropdown-toggle {
	cursor: default;
}

.navbar .navbar-nav a:hover .dropdown-menu {
	display: block;
}

.navbar .navbar-nav .dropdown-menu {
	background-color: #dec48b;
	border-top: 3px solid #2D2D2D;
	margin-top: -5px;
	left: -30px;
	text-align: center;
	padding: 0 0;
}

.navbar .navbar-nav .dropdown-menu > li {
	width: 100%;
}

.navbar .navbar-nav .dropdown-menu > li > a {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 0;
	color: #2D2D2D !important;
}

.navbar .navbar-nav .dropdown-menu > li > a:hover {
	color: #2D2D2D;
	background-color: #dec48b;
}


.navbar .navbar-brand {
	height: 80px;
	padding: 10px 10px;
}

.navbar .navbar-toggle {
	border: none;
	font-size: 20px;
	line-height: 60px;
	padding: 0;
	margin: 0px 15px 0px 0px;
}

.navbar .navbar-toggle:hover {
	background: none;
}

.navbar .navbar-collapse {
	background-color: #dec48b;
	border: none;
	text-align: left;
}

.navbar .navbar-collapse .dropwdown-menu > li > a {
	color: #2D2D2D !important;
}

@media (max-width: 1000px) {
	.navbar .navbar-brand {
		transform: scale(0.8,0.8);
	}
}

@media (max-width: 768px) {
		
	.navbar {
		height: 60px;
	}
	
	.navbar .navbar-brand {
		transform: scale(0.7,0.7);
		height: 40px;
		padding: 5px 5px;
	}
}

@media (max-width: 380px) {
	
	.navbar .navbar-brand {
		transform: scale(0.6,0.6);
		margin-left: -65px;
	}
}


/* === CAROUSEL === */

#entry-content #entry-slider.carousel {
	margin-top: 50px;
	height: 600px;
}

#entry-content #entry-slider.carousel .item {
    height: 600px;
}

#entry-content #entry-slider.carousel #slide1:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url(../img/hero-bg.jpg);
	background-position: center center;
	background-size: cover;
}

#entry-content #entry-slider.carousel #slide1 {
    height: 600px;
}

#entry-content #entry-slider.carousel #slide2:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url(../img/hero-bg.jpg);
	background-position: center center;
	background-size: cover;
}

#entry-content #entry-slider.carousel #slide2 {
    height: 600px;
}

#entry-content #entry-slider.carousel #slide3:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url(../img/hero-bg.jpg);
	background-position: center center;
	background-size: cover;
}

#entry-content #entry-slider.carousel #slide3 {
    height: 600px;
}

.carousel-control.left {
	background-image: none;
	height: 80px;
	width: 80px;
	background-color: #6a6a6a;
	top: 260px;
	left: 2%;
	opacity: 0.6;
	transition: opacity 0.25s ease;
}

.carousel-control.left .fa-chevron-left {
	font-size: 28px;
	line-height: 80px;
	color: #f5f5dc;
}

.carousel-control.left:hover {
	opacity: 0.8;
	transition: opacity 0.25s ease;
}

.carousel-control.right {
	background-image: none;
	height: 80px;
	width: 80px;
	background-color: #6a6a6a;
	top: 260px;
	right: 2%;
	opacity: 0.6;
	transition: opacity 0.25s ease;
}

.carousel-control.right .fa-chevron-right {
	font-size: 28px;
	line-height: 80px;
	color: #f5f5dc;
}

.carousel-control.right:hover {
	opacity: 0.8;
	transition: opacity 0.25s ease;
}

.carousel-caption {
	position:static;
	height: 100%;
	width: 100%;
	display: table;
}

.carousel-caption .carousel-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.carousel-caption .carousel-content .carousel-body {
	width: 35%;
	padding: 20px 0;
	margin: 0 auto;
	border: 5px solid #f5f5dc;
	background: url(../img/background-secondary.jpg);
}

.carousel-caption .carousel-content .carousel-body h1,
.carousel-caption .carousel-content .carousel-body h2,
.carousel-caption .carousel-content .carousel-body h3,
.carousel-caption .carousel-content .carousel-body h4,
.carousel-caption .carousel-content .carousel-body p {
	color: white;
}

.carousel-caption .carousel-content .carousel-body h1 {
	margin-top: 10px;
	margin-bottom: 2px;
}

.carousel-caption .carousel-content .carousel-body h3 {
	margin-top: 2px;
	margin-bottom: 10px;
}

@media (max-width: 768px ) {
	.carousel-caption .carousel-content .carousel-body {
		width: 90%;
	}
	
	.carousel-caption .carousel-content .carousel-body h1,
	.carousel-caption .carousel-content .carousel-body h2,
	.carousel-caption .carousel-content .carousel-body h3,
	.carousel-caption .carousel-content .carousel-body h4,
	.carousel-caption .carousel-content .carousel-body p {
		font-size: 1.5em;
	}
	
	.carousel-control.right {
		top: 15%;
	}
	
	.carousel-control.left {
		top: 15%;
	}
}


/* === ENTRY === */

#entry-content #entry-section {
	padding: 50px 0;
}

#entry-content #entry-section .entry-header {
	text-align: center;
	margin-bottom: 50px;
}

#entry-content #entry-section .entry-body .entry-about-img {
	width: 100%;
	height: auto;
	margin-bottom: 25px;
	margin-top: 10px;
}

#entry-content #entry-section.entry-gallery {
	background: url('../img/background-primary.jpg');
}

#entry-content .entry-gallery .gallery {
	padding: 0 0;
}

#entry-content .entry-gallery .entry-gallery-img {
	width: 100%;
	height: auto;
}

/* === EXTERNAL LINK === */
#external-link {
	height: 100px;	
	text-align: center;
	background-color: #6a6a6a;
	width: 100%;
	display: table;
	overflow: hidden;
	background: url(../img/background-secondary.jpg);
}

#external-link .external-link-body {
	display: table-cell;
	vertical-align: middle;
}

#external-link h2, h4 {
	color: white;
}

/* === ANIMATIONS === */
@keyframes scaleOut {
    from { transform: scale(1.4,1.4); }
    to   { transform: scale(1.0,1.0); }
}

/* Firefox < 16 */
@-moz-keyframes scaleOut {
    from { transform: scale(1.4,1.4); }
    to   { transform: scale(1.0,1.0); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes scaleOut {
    from { transform: scale(1.4,1.4); }
    to   { transform: scale(1.0,1.0); }
}

/* Internet Explorer */
@-ms-keyframes scaleOut {
    from { transform: scale(1.4,1.4); }
    to   { transform: scale(1.0,1.0); }
}

/* Opera < 12.1 */
@-o-keyframes scaleOut {
    from { transform: scale(1.4,1.4); }
    to   { transform: scale(1.0,1.0); }
}

